:host{
    display: flex;
    height:100%;
    align-items: center;
    padding: 0 20px ;
}
.description-container{
    max-width: 50ch;
    font-size: 16px;     
    @media (min-height:600px ) and (min-width:1080px) {
         font-size: 20px;
    }
}
.hero-and-description-container{
    display: grid;
    grid-template-columns: auto 1fr;
    gap:14px;
}
h4{
    margin-top: 3px;
}
.hero-container{
    display: flex;
    align-items: center;
}