:host{
    background-color: blue;
    position: fixed;
    top:0;
    width:100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: white;
    font-weight: 500;
}
a{
    color: white;
}
a:hover,.sign-out:hover{
    transform: scale(1.2);
    cursor: pointer;
}