:host{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap:10px;
    position: fixed;
    bottom:0;
    padding-bottom: 15px;
    width: 100%;
    font-size: 20px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 18px 20px 16px rgba(0, 0, 0, 0.1);
}
.current-page{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: -2px;
    color: rgba(255, 147, 7, 0.842);
    text-decoration: underline;
}
.dots{
    margin-bottom: -2px;
    color: #551a8b;
}