:host{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap:10px;
    position: fixed;
    bottom: 20px;
    width: 100%;
    font-size: 20px;
}
.current-page{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: -2px;
    color: rgba(255, 147, 7, 0.842);
    text-decoration: underline;
}
.dots{
    margin-bottom: -2px;
    color: #551a8b;
}